[advisories]
version = 2

[bans]
multiple-versions = "warn"
wildcards = "allow"

[licenses]
confidence-threshold = 0.8
allow = [
  "MIT",
  "Apache-2.0",
  "Unicode-3.0",
  "BSD-3-Clause",
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
